<!DOCTYPE html>
<html lang="en" data-ng-app="myApp">

    <head>

        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Bootstrap Registration Form Template</title>
        <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:400,100,300,500">
        <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
        <link rel="stylesheet" href="assets/font-awesome/css/font-awesome.min.css">
		<link rel="stylesheet" href="assets/css/form-elements.css">
        <link rel="stylesheet" href="assets/css/style.css">


            <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
            <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>

		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.4/angular.min.js" type="application/javascript"></script>
		<script src="js/app.js"></script>


	</head>

    <body>

        <div class="top-content">
        	
            <div class="inner-bg">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-7 text">
                            <h1>Go to <strong>Login</strong> page</h1>
                            <div class="description">

                            </div>
                            <div class="top-big-link">
                            	<a class="btn btn-link-1" href="login.html">Parent Sign In</a>
                            	<a class="btn btn-link-2" href="login2.html">Child Sign In</a>
                            </div>
                        </div>
                        <div class="col-sm-5 form-box">
                        	<div class="form-top">
                        		<div class="form-top-left">
                        			<h3>Sign up now</h3>
                            		<p>Fill in the form below to get instant access:</p>
                        		</div>
                        		<div class="form-top-right">
                        			<i class="fa fa-pencil"></i>
                        		</div>
                            </div>
                            <div class="form-bottom">
								<div  ng-controller="RegisterController">
			                    <form role="form" action="" method="post" class="registration-form">
			                    	<div class="form-group">
			                    		<label class="sr-only" for="form-first-name">First name</label>
			                        	<input type="text" name="form-first-name" placeholder="Unique ID" class="form-first-name form-control" id="form-first-name" data-ng-model="userName">
			                        </div>
									<div class="form-group">
										<label class="sr-only" for="form-password">Parent Password</label>
										<input type="password" name="form-password" placeholder="Parent Password..." class="form-password form-control" id="form-password " data-ng-model="password">
									</div>
									<div class="form-group">
										<label class="sr-only" for="form-password">Child Password</label>
										<input type="password" name="form-password" placeholder="Child Password..." class="form-password form-control" id="form-password" data-ng-model="email">
									</div>

									<button id="register" name="register" ng_click="register(userName, password, email)">Register</button>
								</form>
								</div>
		                    </div>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>


        <!-- Javascript -->
        <script src="assets/js/jquery-1.11.1.min.js"></script>
        <script src="assets/bootstrap/js/bootstrap.min.js"></script>
        <script src="assets/js/jquery.backstretch.min.js"></script>
        <script src="assets/js/retina-1.1.0.min.js"></script>
        <script src="assets/js/scripts.js"></script>
        
      s
    </body>

</html>